

h1 {
    font-family: 'Advent Pro';
    text-align: center;
    color: white;
    font-size: 68px;

}
#productDisplay {
    padding: 0px 10px 60px 80px;
    
}
body{
    background-color: rgb(136, 195, 201);
}
.product:hover {
    height: 231px;
    width: 367.5px;
    opacity: 1;
    border-radius: 15px;    
    box-shadow: 5px 5px 10px rgb(102, 146, 150);
}

.product {
    border-radius: 15px;
    margin: 15px;
    height: 220px;
    width: 350px;
    opacity: 0.6;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
};
#productDisplay {
    border: 10px solid black;
    margin: 0, auto;

}
